:root {
    --titleSize : 60px;
    --color-black: #131313;

}
a {
    text-decoration: none;
    color:inherit;
}
body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #3918B9;
    margin: 30px auto;  
    color: #fff;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
}
header {
    box-sizing: border-box;
}
footer{
    box-sizing: border-box;
}

h1{
    margin: 0;
}

/*Configurações do jogo*/
.torre {
    display: flex;
    flex-direction: column;
    margin: 0 3px;
    overflow: hidden;
}

.celula {
    height: 35px;
    width: 35px;
    background-image: url(/assets/base-tubo.png)  ;
    background-size: contain;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.celula:first-child{
    background-image: url(/assets/topo-tubo.png)  ;
    background-size: cover;
}

#tabela {
    display: flex;
    position: absolute;
    bottom: 35px;
}

@keyframes descer6 {
    from {top:-245px;}
    30%{top:-235px;}
    35%{top:-225px;}
    40%{top:-210px}
    to {top:0px;}
}
@keyframes descer5 {
    from {top:-210px;}
    30%{top: -175px;}
    to {top:0px;}
}
@keyframes descer4 {
    from {top:-175px;}
    30%{top: -140px;}
    to {top:0px;}
}
@keyframes descer3 {
    from {top:-140px;}
    40%{top: -105px;}
    to {top:0px;}
}
@keyframes descer2 {
    from {top:-105px;}
    40%{top: -70px;}
    to {top:0px;}
}
@keyframes descer1 {
    from {top:-70px;}
    30%{top: -35px;}
    to {top:0px;}
}
@keyframes descer0 {
    from {top:-35px;}
    50%{top:-30px;}
    to {top:0px;}
}
.animacao {
    position: absolute;
    left:5px;
    /*animation-name: descer6;*/
    animation-duration: 1s;
}

#jogo{
    max-width: 1000px;
    width: 100vw;
    min-height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url(/assets/fundo-grande.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.horizontal{
    height: 10px;
    width: 30px;
    border-radius: 20px;
    background-position: center;
    display: none;
}
.vertical {
    height: 30px;
    width: 30px;
    border-radius: 20px;

}

.red {
    background-image: url(/assets/red-cogu.png);
    background-size: cover;
    
}

.black {
    background-image: url(/assets/green-cogu.png);
    background-size: cover;
}

.btnMenu{
    background-image: url(/assets/Buttons-img/MenuButtonyellow.png);
    border: none;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 10px;
    right: 20px;
    width: 45px;
    height: 15px;
    cursor: pointer;
    background-color: transparent;

}

.placar{
    display: none;
}

.display {
    position: absolute;
    top: 20px;
    height: 60px;
    width: 60px;
    text-align: center;
    border: 1px transparent solid;
}
.texto {
    position: absolute;
    top: -22px;
    left: -12px;
}

.p1 {
    background-image: url(/assets/green-cogu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.placarJogador1 {
    background-image: url(/assets/green-cogu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
   
}

.textoPlacarJogador1{
    position: absolute;
    top: -2px;
    left: 12px;
    font-size: 14px;

}

.textoPlacarJogador2{
    position: absolute;
    top: -2px;
    right: 10px;
    font-size: 14px;
}

.p2 {
    background-image: url(/assets/red-cogu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.placarJogador2 {
    background-image: url(/assets/red-cogu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
   
}

.telaGanhador {
    background-color: black;
    width: 600px;
    height: 600px;
}

.painel {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 5px;
    margin: 3px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-content: space-around;
}

.textoP1{
    display: none;
}

.textoP2{
    display: none;
}


/* .player1 {
    
    background-image: url(/assets/green-cogu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}
.player2 {
   
    background-image: url(/assets/red-cogu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
} */


@keyframes animacaoVitoriaPeca {
    0% {
        transform: scale(1) rotateY(0deg);
    }
    35% {
        transform: scale(1.2) rotateY(0deg);
    }
    70% {
        transform: scale(1.2) rotateY(360deg);
    }
    100% {
        transform: scale(1) rotateY(360deg);;
    }
}

.animacaoVitoriaPeca{
    animation: animacaoVitoriaPeca 2s infinite;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-20px);
    }
  }


/*Fim das configurações do jogo*/

@media (min-width: 640px){


/* Tela Inicial */
.starter {
    background-image: url(/assets/background1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    text-align: center;
    
}
    .starterMain {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .starterMain > h1{ 
        font-size: var(--titleSize);
        margin-bottom: 130px;
    }
    .btnContainer {
        width: 250px;
        display:flex ;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 110px;
    }
    .btnStarter{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 48px;
        cursor: pointer;
        text-transform: none;
        margin: 5px;
        font-size: 100%;
        line-height: 100%;
        background-color: transparent;
        border: none;
    }
        .btnPlay {
            background-image: url(/assets/Buttons-img/StartButtonyellow.png);
        }
        .btnMenuS {
            background-image: url(/assets/Buttons-img/MenuButtonyellow.png);
        }
        .btnCredits {
            background-image: url(/assets/Buttons-img/CreditsButtonyellow.png);
            width: 100%;
        }

/* Fim Tela Inicial */

/* Transicao de Telas */
.tela {
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    text-align: center;
}

/* Fim Transicao de Telas */

/* Creditos */
#telaCreditos {
    background-color: var(--color-black);
    color: #ffff;
}
.nome {
    margin: 25px auto;
    line-height: 100%;
    display: flex;
    flex-direction: column;
}
.socials {
    font-size: 0.5em;
    line-height: 150%;
    margin: 30px 15px;
}

img {
    width: 50px;
    height: 50px;
}
.btnMenuC {
    background-image: url(/assets/Buttons-img/menuBlackAndWhite.png);
    position: fixed;
    bottom:0;
    right:0;
    max-width: 100px;
}
@keyframes animacaoCreditos {
    from {transform: translateY(100%);}
    to {transform: translateY(-100%);}
}
.scrolling {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    animation: animacaoCreditos 25s linear infinite;
}
.scrolling:hover {
    animation-play-state: paused;
}

/* Fim dos Creditos */

/* Desktop */
@media (min-width: 768px){
    .hidden {
        display: none;
    }
    #jogo {
        background-position: bottom;
        background-repeat: no-repeat;
        position: relative;
        max-width: 800px;
       
    }

    #tabela {
        position: absolute;
        bottom: 43px;
    }

    .celula {
        width: 50px;
        height: 50px;
    }

    .vertical {
        width: 40px;
        height: 40px;
    }

    .btnMenu{
        width: 60px;
        height: 20px;
        right: 0;
    }

    .player1 {
        position: absolute;
        left: 50px;
        bottom: 200px;
        background-image: url(/assets/green-cogu.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        animation: bounce 1s infinite alternate;
        text-align:start;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .textoP1  {
        position: absolute;
        top: -25px;
        display: block;
    }

    .textoP2  {
        position: absolute;
        top: -25px;
        display: block;

    }
    
    .player2 {
        position: absolute;
        right: 50px;
        bottom: 200px;
        background-image: url(/assets/red-cogu.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        animation: bounce 1s infinite alternate;
        text-align:end;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .display {
        top: 10px;
        display: flex;        

    }

    .painel{
        display: none;
    }
}   

@media (min-width: 1024px){
    .display {
        top: 10px;
    }

}
/* 
    .placar{
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 10px;
        color: #fff;
    
    }
    .placar p{
        padding: 2px
    }
    .score {
        font-size: 16px;
        margin-bottom: 5px;
        line-height: 1.6;
    }
    */
/*Fim das configurações do jogo*/

    /* Pag Inicial */
    .btnStarter{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 50%;
        height: 48px;
        cursor: pointer;
        text-transform: none;
        background-color: transparent;
        border: none;
        margin: 0;
        
    }
        .btnPlay {
            background-image: url(/assets/Buttons-img/StartButtonyellow.png);
            background-size: cover;
        }
        .btnMenuS {
            background-image: url(/assets/Buttons-img/MenuButtonyellow.png);
        }
        .btnCredits {
            background-image: url(/assets/Buttons-img/CreditsButtonyellow.png);
            width: 100%;
        }
} 
/*Fim das configurações do jogo*/