:root {
    --titleSize : 60px;
    --color-black: #131313;

}
a {
    text-decoration: none;
    color:inherit;
}
body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #3918B9;
    margin: 30px auto;  
    color: #fff;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
}
header {
    box-sizing: border-box;
}
footer{
    box-sizing: border-box;
}

h1{
    margin: 0;
}

/*Configurações do jogo*/
.torre {
    display: flex;
    opacity: 100;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
#torreCorPreta, #torreCorVermelha {
    width: 35px;
    display: none;
    margin: 0 3px;
}

.celula {
    height: 35px;
    width: 35px;
    background-image: url(/assets/base-tubo.png);
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
@keyframes descer {
    from {top:-260px;}
    to {top:0px;}
}

.animacao {
    position: absolute;
    left:5px;
    animation-name: descer;
    animation-duration: 1s;

}

.celula:first-child{
    background-image: url(/assets/topo-tubo.png);
    background-size: cover;
}

#tabela {
    display: flex;
    position: absolute;
    bottom: 35px;
}

#jogo{
    max-width: 1000px;
    width: 100vw;
    min-height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url(/assets/fundo-grande.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.horizontal{
    height: 10px;
    width: 30px;
    border-radius: 20px;
    background-position: center;
    display: none;
}

.vertical {
    height: 30px;
    width: 30px;
    border-radius: 20px;

}

.red {
    background-image: url(/assets/red-cogu.png);
    background-size: cover;
    
}

.black {
    background-image: url(/assets/green-cogu.png);
    background-size: cover;
}

.btnMenu{
    background-image: url(/assets/Buttons-img/MenuButtonyellow.png);
    border: none;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 10px;
    right: 20px;
    width: 45px;
    height: 15px;
    cursor: pointer;
    background-color: transparent;

}

.placar{
    display: none;
}

.display {
    position: absolute;
    top: 30px;
    height: 60px;
    width: 60px;
    text-align: center;
    border: 1px transparent solid;
}
.texto {
    position: absolute;
    top: -21px;
    left: -12px;
}

.p1 {
    background-image: url(/assets/green-cogu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.placarJogador1 {
    background-image: url(/assets/green-cogu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
   
}

.textoPlacarJogador1{
    position: absolute;
    top: -2px;
    left: 12px;
    font-size: 14px;

}

.textoPlacarJogador2{
    position: absolute;
    top: -2px;
    right: 10px;
    font-size: 14px;
}

.p2 {
    background-image: url(/assets/red-cogu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.placarJogador2 {
    background-image: url(/assets/red-cogu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
   
}

.telaGanhador {
    background-color: black;
    width: 600px;
    height: 600px;
}

.painel {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 5px;
    margin: 3px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-content: space-around;
}



.textoP1{
    display: none;
}

.textoP2{
    display: none;
}


/* .player1 {
    
    background-image: url(/assets/green-cogu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.player2 {
   
    background-image: url(/assets/red-cogu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
} */

@keyframes animacaoVitoriaPeca {
    0% {
        transform: scale(1) rotateY(0deg);
    }
    35% {
        transform: scale(1.2) rotateY(0deg);
    }
    70% {
        transform: scale(1.2) rotateY(360deg);
    }
    100% {
        transform: scale(1) rotateY(360deg);;
    }
}

.animacaoVitoriaPeca{
    animation: animacaoVitoriaPeca 2s infinite;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-20px);
    }
  }

/*Fim das configurações do jogo*/
#telaJogo{
    background-image: url(/assets/Background\ Teste.jpeg);
    background-size: cover;
}
/*Tela Final*/

#telaVitoria{
    background-color: var(--color-black);
   
}

.textoGanhador{
    font-size: 30px;
}

.btnVoltar {
    width: 300px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 100px 0;
}

/*Fim das configurações da Tela Final*/


/*Fim das configurações do jogo*/


/* Tela Inicial */
.starter {
    background-image: url(/assets/background1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    text-align: center;
    
}
    .starterMain {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .starterMain > h1{ 
        font-size: 45px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 90px;
        color: black;
    }
    .starterMain > h2{
        font-size: 40px;
        margin-bottom: 90px;
        margin-top: 10px;
        color: black;
    }
    .btnContainer {
        width: 250px;
        display:flex ;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 110px;
    }
    .btnStarter{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 200px;
        height: 48px;
        cursor: pointer;
        text-transform: none;
        margin: 5px;
        font-size: 100%;
        line-height: 100%;
        background-color: transparent;
        border: none;
    }

    @keyframes btnBounce {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-10px)
        }
        100% {
            transform: translateY(0px);
        }
    }

    .btnStarter:hover, .btnBack:hover, .btnMenu:hover{
        animation: btnBounce 1s infinite ease-in-out;
    }
    .btnStarter:focus, .btnBack:focus, .btnMenu:focus{
        animation: animacaoVitoriaPeca 1.5s infinite
    }
        .btnPlay {
            background-image: url(/assets/Buttons-img/StartButtonyellow.png);
        }
        .btnMenuS {
            background-image: url(/assets/Buttons-img/MenuButtonyellow.png);
            height: 42px; 
        }
        .btnCredits {
            background-image: url(/assets/Buttons-img/CreditsButtonyellow.png);
            width: 100%;
        }

/* Fim Tela Inicial */

/* Transicao de Telas */
 .hidden {
    display: none !important;
    }
.tela {
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    text-align: center;
}

/* Fim Transicao de Telas */

/* Creditos */
#telaCreditos {
    background-color: var(--color-black);
    color: #ffff;
}
.nome {
    margin: 25px auto;
    line-height: 100%;
    display: flex;
    flex-direction: column;
}
.socials {
    font-size: 0.5em;
    line-height: 150%;
    margin: 30px 15px;
}

img {
    width: 50px;
    height: 50px;
}
.btnBack {
    background-image: url(/assets/Buttons-img/BackButtonBW.png);
    position: fixed;
    bottom:0;
    right:0;
    max-width: 100px;
}
@keyframes animacaoCreditos {
    from {transform: translateY(100%);}
    to {transform: translateY(-100%);}
}
.scrolling {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    animation: animacaoCreditos 25s linear infinite;
}
.scrolling:hover {
    animation-play-state: paused;
}

/* Fim dos Creditos */

/* Menus Modais  */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: chartreuse;
    background-color: rgb(0,0,0,0.4);
}

.modal-content {
    background-color: coral;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 40vh;
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close {
    color: var(--color-black);
    font-size: 28px;
    font-weight: bold;
    background-color: coral;
    text-align: center;
    height: 28px;
    line-height: 28px;
    border: 2px solid var(--color-black);
    padding: 5px;
}
.close:hover, .close:focus {
    color: red;
    cursor:pointer;
}

/* MEDIA QUERIES */
@media (max-width: 450px) {
    .starterMain > h1{ 
        font-size: 45px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 90px;
        color: black;
    }

}
/* Desktop */
@media (min-width: 768px){

    #jogo {
        background-position: bottom;
        background-repeat: no-repeat;
        position: relative;
        max-width: 800px;
       
    }

    #tabela {
        position: absolute;
        bottom: 43px;
    }

    .celula {
        width: 50px;
        height: 50px;
    }

    .vertical {
        width: 40px;
        height: 40px;
    }

    .btnMenu{
        width: 60px;
        height: 20px;
        right: 0;
    }

    .player1 {
        position: absolute;
        left: 50px;
        bottom: 200px;
        background-image: url(/assets/green-cogu.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        animation: bounce 1s infinite alternate;
        text-align:start;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .textoP1  {
        position: absolute;
        top: -25px;
        display: block;
    }

    .textoP2  {
        position: absolute;
        top: -25px;
        display: block;

    }
    
    .player2 {
        position: absolute;
        right: 50px;
        bottom: 200px;
        background-image: url(/assets/red-cogu.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        animation: bounce 1s infinite alternate;
        text-align:end;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .display {
        top: 30px;
        display: flex;        

    }

    .painel{
        display: none;
    }

/* Pag Inicial */
.btnContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
        "Play . Menu"
        "Credits Credits Credits";                          
}
    .btnStarter{
        /* background-size: contain; */
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        text-transform: none;
        background-color: transparent;
        border: none;
        margin: 0;
        
    
    }
        .btnPlay {
            background-image: url(/assets/Buttons-img/StartButtonyellow.png);
            grid-area: Play;
        }
        .btnMenuS {
            background-image: url(/assets/Buttons-img/MenuButtonyellow.png);
            grid-area: Menu;
        }
        .btnCredits {
            background-image: url(/assets/Buttons-img/CreditsButtonyellow.png);
            grid-area: Credits;
        }
} 


@media (min-width: 1024px){
    .display {
        top: 10px;
    }

}
/* 
    .placar{
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 10px;
        color: #fff;
    
    }
    .placar p{
        padding: 2px
    }

    .score {
        font-size: 16px;
        margin-bottom: 5px;
        line-height: 1.6;
    }

    */

/*Fim das configurações do jogo*/